@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: agency fb;
}

.header {
  clip-path: polygon(350% 0, -30% 0, 9% 100%);
}

.header::after {
  @apply absolute top-0 right-0 w-1/6 bg-primary-light h-1/6;

  content: " ";
  clip-path: polygon(100% 0, 0% 0%, 80% 100%);
}


#__next {
  @apply flex flex-col flex-1 pt-24;
}

.divider {
  @apply border-l-2 rounded border-l-primary-light;
}

.page_content {
  @apply flex flex-col flex-1 bg-base-light;
}
